main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

h2 {
  font-size: 50px;
}

button {
  position: absolute;
  left: 47.5%;
  width: 100px;
  height: 50px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

img {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 47.5%;
  opacity: 0;
}

.player {
  flex: 50%;
  width: 410px;
  height: 510px;
  margin-top: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.player-0 {
  background: #d9b0be;
}

.player-1 {
  background: #b97c9c;
}

.current {
  margin-top: 5rem;
  width: 208px;
  height: 101px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #c6365f;
  color: white;
  font-size: 20px;
}

.player-score {
  font-size: 35px;
}

.btn-roll {
  position: absolute;
  bottom: 20%;
}

.btn-hold {
  position: absolute;
  bottom: 5%;
}

.btn-new {
  position: absolute;
  top: 20%;
}

.current-score {
  margin-top: 0;
  font-size: 30px;
}

.current-title {
  font-size: 30px;
  margin-bottom: 15px;
}
