body {
  background: #0d1118;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  position: relative;
  width: 70%;
}

h2 {
  font-size: 50px;
}

button {
  position: absolute;
  left: 46%;
  width: 100px;
  height: 50px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

img {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 46%;
  opacity: 0;
}

.player {
  flex: 50%;
  width: 410px;
  height: 580px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.75s;
  background-color: rgba(255, 255, 255, 0.1);
}

.player-0 {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.player-1 {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.player--winner {
  background-color: #2f2f2f;
}
.player--active {
  background-color: rgba(255, 255, 255, 0.5);
}

.player--active .player-0__title {
  font-weight: 700;
}

.player--active .player-score {
  font-weight: 400;
}

.player--active .current {
  opacity: 1;
}

.current {
  margin-top: 5rem;
  width: 208px;
  height: 101px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #01040a;
  color: white;
  font-size: 20px;
  border-radius: 20px;
}

.player-score {
  font-size: 35px;
}

.btn-roll {
  position: absolute;
  bottom: 20%;

  width: auto;
}

.btn-hold {
  position: absolute;

  bottom: 5%;
}

.btn-new {
  position: absolute;
  top: 20%;

  width: auto;
}

.current-score {
  margin-top: 0;
  font-size: 30px;
}

.current-title {
  font-size: 30px;
  margin-bottom: 15px;
}
